<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
    <thead>
    <tr class="text-start text-dark fw-bolder fs-7 text-uppercase gs-0">
        <th class="">Utilisateur</th>
        <th class="">Role</th>
        <th class="">Civilité</th>
        <th class="">Profile</th>
        <th class="">Mission</th>
        <th class="">date d'embauche</th>
        <th class="">Numéro de téléphone</th>
        <th class="">Responsable Hiérarchique</th>
        <th class="">Actions</th>
    </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold">
    {% for user in users %}
        <tr>

            <td class="d-flex align-items-center">
                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                    <a href="{{ path('admin.user.showProfile',{'id':user.id}) }}">
                        <div class="symbol-label">
                            <img src="{{ asset('images/users/'~user.fileName) }}" alt="{{user.firstName ? user.firstName : ''}}  {{ user.lastName ?  user.lastName : '' }}" class="w-100" />
                        </div>
                    </a>
                </div>

                <div class="d-flex flex-column">
                    <a href="../../demo2/dist/apps/user-management/users/view.html" class="text-gray-800 text-hover-primary mb-1">{{user.firstName ? user.firstName : ''}}  {{ user.lastName ?  user.lastName : '' }}</a>
                    <span>{{ user.email? user.email : '' }}</span>
                </div>
            </td>
            <td>Administrator</td>
            <td>
                <div class="badge badge-light-primary fw-bolder">
                    {% if constant('CIVILITY_MR', user) == user.civility %}
                        {{ constant('CIVILITY', user) [user.civility] }}
                    {% endif %}
                    {% if constant('CIVILITY_MME', user) == user.civility %}
                        {{ constant('CIVILITY', user) [user.civility] }}
                    {% endif %}
                </div>
            </td>
            <td>{{ user.profile? user.profile.name : '' }}</td>
            <td>{{ user.job? user.job.label : '' }}</td>
            <td>{{ user.createdAt|date('d-m-Y') }}</td>
            <td>{{ user.phone ? user.phone : '' }}</td>

            <td>
                <div class="badge badge-light-info fw-bolder">
                    {{ user.parent? user.parent.firstName: "" }} {{ user.parent? user.parent.lastName: "responsable" }}
                </div>
            </td>

            <td class="text-end">
                <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                    <span class="svg-icon svg-icon-5 m-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black" />
                                        </svg>
                                    </span>
                </a>
                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                    <div class="menu-item px-3">
                        <a href="../../demo2/dist/apps/user-management/users/view.html" class="menu-link px-3">Edit</a>
                    </div>
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-users-table-filter="delete_row">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
