<div class="card-rounded bg-primary bg-opacity-5 p-10 mb-15">
    <h2 class="text-dark fw-bolder mb-11">{% if edit %} Modifier team MTH {{ team.title?team.title : '' }}{% else %}Ajouter un nouveau{% endif %}</h2>
    {% if edit %}
    {{ form_start(form, {'action': path('admin.teamMth.edit',{'id': team.id})}) }}
    {% else %}
    {{ form_start(form)}}
    {% endif %}
    <div class="d-flex align-items-center mb-10">
        <i class="bi bi-card-heading text-primary fs-1 me-5"></i>
        <div class="d-flex flex-column">
            <h5 class="text-gray-800 fw-bolder">Titre <span style="color: red">*</span> </h5>
            <div class="fw-bold">
                {{ form_widget(form.title) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.title) }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center mb-10">
        <i class="bi bi-chat-square-text-fill text-primary fs-1 me-5"></i>
        <div class="d-flex flex-column">
            <h5 class="text-gray-800 fw-bolder">Description <span style="color: red">*</span> </h5>
            <div class="fw-bold">
                {{ form_widget(form.description) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.description) }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center mb-10">
        <i class="bi bi-calendar-date text-primary fs-1 me-5"></i>
        <div class="d-flex flex-column">
            <h5 class="text-gray-800 fw-bolder">Date de publication</h5>
            <div class="fw-bold">
                {{ form_widget(form.publishedAt) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.publishedAt) }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center mb-10">
        <i class="bi bi-file-diff text-primary fs-1 me-5"></i>
        <div class="d-flex flex-column">
            <h5 class="text-gray-800 fw-bolder">Document</h5>
            <div class="fw-bold">
                {{ form_widget(form.imageFile1) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.imageFile1) }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-camera-video text-primary fs-1 me-5"></i>
        <div class="d-flex flex-column">
            <h5 class="text-gray-800 fw-bolder">Vidéo</h5>
            <div class="fw-bold">
                {{ form_widget(form.imageFile) }}
                <div class="form-error" style="color: red">
                    {{ form_errors(form.imageFile) }}
                </div>
            </div>
        </div>
    </div>



    <div class="align-items">
        <div class="flex-column">
            <button type="submit" class="btn btn btn-primary" style="margin-bottom: 50px; margin-top: 50px">{% if edit %} Modifier{% else %} Enregistrer{% endif %}</button>
        </div>
    </div>

    {{ form_end(form) }}
</div>