{% extends 'layout/app1.html.twig' %}

{% block title %}CLINACT{% endblock %}
{% block  stylesheets%}

{% endblock %}

 {% block breadcrumb %}

     <!--begin::Page title-->
     <div class="page-title d-flex flex-column me-3">
         <!--begin::Title-->
         <h1 class="d-flex text-white fw-bolder my-1 fs-3">Assurance Qualité - Documentation</h1>
         <!--end::Title-->
         <!--begin::Breadcrumb-->
         <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
             <!--begin::Item-->
             <li class="breadcrumb-item text-white opacity-75">
                 <a href="{{ path('home') }}" class="text-white text-hover-primary">Accueil</a>
             </li>
             <!--end::Item-->
             <!--begin::Item-->
             <li class="breadcrumb-item">
                 <span class="bullet bg-white opacity-75 w-5px h-2px"></span>
             </li>
             <!--end::Item-->
             <!--begin::Item-->

             <li class="breadcrumb-item text-white opacity-75">Documentation</li>
             <!--end::Item-->


         </ul>
         <!--end::Breadcrumb-->
     </div>
     <!--end::Page title-->


 {% endblock %}

{% block body %}
    <div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
        <div class="content flex-row-fluid" id="kt_content">
            <div class="card ">
                <div class="card-body p-lg-17">
                    <div class="mb-18">
                        <div class="text-center mb-17 ">
                            <h3 class="fs-2hx text-white mb-6" style="border-radius:5px; text-transform: uppercase; background-color: #003151;margin-bottom: 20px !important;padding-bottom: 20px !important;padding-top: 20px !important;">Documentation</h3>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 gy-10">
                            <!--begin::Card body-->
                            <div class="card-body">
                                <!--begin::Table header-->
                                <div class="d-flex flex-stack">
                                    <!--begin::Folder path-->
                                    <div class="badge badge-lg badge-light-primary">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <!--begin::Svg Icon | path: icons/duotune/abstract/abs039.svg-->
                                            <span class="svg-icon svg-icon-2 svg-icon-primary me-3">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M14.1 15.013C14.6 16.313 14.5 17.813 13.7 19.113C12.3 21.513 9.29999 22.313 6.89999 20.913C5.29999 20.013 4.39999 18.313 4.39999 16.613C5.09999 17.013 5.99999 17.313 6.89999 17.313C8.39999 17.313 9.69998 16.613 10.7 15.613C11.1 15.713 11.5 15.813 11.9 15.813C12.7 15.813 13.5 15.513 14.1 15.013ZM8.5 12.913C8.5 12.713 8.39999 12.513 8.39999 12.313C8.39999 11.213 8.89998 10.213 9.69998 9.613C9.19998 8.313 9.30001 6.813 10.1 5.513C10.6 4.713 11.2 4.11299 11.9 3.71299C10.4 2.81299 8.49999 2.71299 6.89999 3.71299C4.49999 5.11299 3.70001 8.113 5.10001 10.513C5.80001 11.813 7.1 12.613 8.5 12.913ZM16.9 7.313C15.4 7.313 14.1 8.013 13.1 9.013C14.3 9.413 15.1 10.513 15.3 11.713C16.7 12.013 17.9 12.813 18.7 14.113C19.2 14.913 19.3 15.713 19.3 16.613C20.8 15.713 21.8 14.113 21.8 12.313C21.9 9.513 19.7 7.313 16.9 7.313Z" fill="black" />
													<path d="M9.69998 9.61307C9.19998 8.31307 9.30001 6.81306 10.1 5.51306C11.5 3.11306 14.5 2.31306 16.9 3.71306C18.5 4.61306 19.4 6.31306 19.4 8.01306C18.7 7.61306 17.8 7.31306 16.9 7.31306C15.4 7.31306 14.1 8.01306 13.1 9.01306C12.7 8.91306 12.3 8.81306 11.9 8.81306C11.1 8.81306 10.3 9.11307 9.69998 9.61307ZM8.5 12.9131C7.1 12.6131 5.90001 11.8131 5.10001 10.5131C4.60001 9.71306 4.5 8.91306 4.5 8.01306C3 8.91306 2 10.5131 2 12.3131C2 15.1131 4.2 17.3131 7 17.3131C8.5 17.3131 9.79999 16.6131 10.8 15.6131C9.49999 15.1131 8.7 14.1131 8.5 12.9131ZM18.7 14.1131C17.9 12.8131 16.7 12.0131 15.3 11.7131C15.3 11.9131 15.4 12.1131 15.4 12.3131C15.4 13.4131 14.9 14.4131 14.1 15.0131C14.6 16.3131 14.5 17.8131 13.7 19.1131C13.2 19.9131 12.6 20.5131 11.9 20.9131C13.4 21.8131 15.3 21.9131 16.9 20.9131C19.3 19.6131 20.1 16.5131 18.7 14.1131Z" fill="black" />
												</svg>
											</span>
                                            <!--end::Svg Icon-->
                                            <a href="#" style="text-transform: uppercase;">Documents Généraux</a>
                                        </div>
                                    </div>
                                    <!--end::Folder path-->
                                    <!--begin::Folder Stats-->
                                    <div class="badge badge-lg badge-primary">
                                        <span id="kt_file_manager_items_counter">{{ generaldoc|length }} documents</span>
                                    </div>
                                    <!--end::Folder Stats-->
                                </div>
                                <!--end::Table header-->
                                <!--begin::Table-->
                                <table id="kt_file_manager_list" data-kt-filemanager-table="folders" class="table align-middle table-row-dashed fs-6 gy-5">

                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody class="fw-bold text-gray-600">
                                    {% for doc in generaldoc %}
                                        <tr class="odd">

                                        <!--begin::Name=-->
                                        <td width="95%">
                                            <div class="d-flex align-items-center">
                                                <!--begin::Svg Icon | path: icons/duotune/files/fil003.svg-->
                                                <span class="svg-icon svg-icon-2x svg-icon-primary me-4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22Z" fill="black"></path>
                                                        <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                                <a href="{{ path('showDoc',{'id':doc.id}) }}" data-bs-toggle="modal" data-bs-target="#kt_modal_show_doc"  class="text-gray-800 text-hover-primary">{{ doc.name }}</a>
                                            </div>
                                        </td>
                                        <!--end::Name=-->
                                        <!--begin::Actions-->
                                        <td width="5%" class="text-end" data-kt-filemanager-table="action_dropdown">
                                            <div class="d-flex justify-content-end">
                                                <!--begin::More-->
                                                <div class="ms-2">
                                                    <a href="{{ asset('/upload/documents/' ~ doc.Filename) }}" download  type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                        <!--begin::Svg Icon | path: icons/duotune/general/gen052.svg-->
                                                        <span class="svg-icon svg-icon-5 m-0">
																	 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                                                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                                                                    </svg>
                                                        </span>
                                                        <!--end::Svg Icon-->

                                                    </a>

                                                </div>
                                                <!--end::More-->
                                            </div>
                                        </td>
                                        <!--end::Actions-->
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot class="fw-bold text-gray-600">
                                    <tr class="odd">
                                        <td width="100%" data-order="account"><div class="d-flex align-items-center">
                                                <!--begin::Svg Icon | path: icons/duotune/files/fil012.svg-->
                                                <span class="svg-icon svg-icon-2x svg-icon-primary me-4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M10 4H21C21.6 4 22 4.4 22 5V7H10V4Z" fill="black"></path>
                                                        <path d="M9.2 3H3C2.4 3 2 3.4 2 4V19C2 19.6 2.4 20 3 20H21C21.6 20 22 19.6 22 19V7C22 6.4 21.6 6 21 6H12L10.4 3.60001C10.2 3.20001 9.7 3 9.2 3Z" fill="black"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                                <a href="{{ path('supportFormation') }}" class="text-gray-800 text-hover-primary">Formations Groupe</a>
                                            </div></td>
                                    </tr>
                                    </tfoot>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <!--end::Card body-->
                        </div>

                        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 gy-10">
                            <!--begin::Card body-->
                            <div class="card-body">
                                <!--begin::Table header-->
                                <div class="d-flex flex-stack">
                                    <!--begin::Folder path-->
                                    <div class="badge badge-lg badge-light-primary">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <!--begin::Svg Icon | path: icons/duotune/abstract/abs039.svg-->
                                            <span class="svg-icon svg-icon-2 svg-icon-primary me-3">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
													<path opacity="0.3" d="M14.1 15.013C14.6 16.313 14.5 17.813 13.7 19.113C12.3 21.513 9.29999 22.313 6.89999 20.913C5.29999 20.013 4.39999 18.313 4.39999 16.613C5.09999 17.013 5.99999 17.313 6.89999 17.313C8.39999 17.313 9.69998 16.613 10.7 15.613C11.1 15.713 11.5 15.813 11.9 15.813C12.7 15.813 13.5 15.513 14.1 15.013ZM8.5 12.913C8.5 12.713 8.39999 12.513 8.39999 12.313C8.39999 11.213 8.89998 10.213 9.69998 9.613C9.19998 8.313 9.30001 6.813 10.1 5.513C10.6 4.713 11.2 4.11299 11.9 3.71299C10.4 2.81299 8.49999 2.71299 6.89999 3.71299C4.49999 5.11299 3.70001 8.113 5.10001 10.513C5.80001 11.813 7.1 12.613 8.5 12.913ZM16.9 7.313C15.4 7.313 14.1 8.013 13.1 9.013C14.3 9.413 15.1 10.513 15.3 11.713C16.7 12.013 17.9 12.813 18.7 14.113C19.2 14.913 19.3 15.713 19.3 16.613C20.8 15.713 21.8 14.113 21.8 12.313C21.9 9.513 19.7 7.313 16.9 7.313Z" fill="black" />
													<path d="M9.69998 9.61307C9.19998 8.31307 9.30001 6.81306 10.1 5.51306C11.5 3.11306 14.5 2.31306 16.9 3.71306C18.5 4.61306 19.4 6.31306 19.4 8.01306C18.7 7.61306 17.8 7.31306 16.9 7.31306C15.4 7.31306 14.1 8.01306 13.1 9.01306C12.7 8.91306 12.3 8.81306 11.9 8.81306C11.1 8.81306 10.3 9.11307 9.69998 9.61307ZM8.5 12.9131C7.1 12.6131 5.90001 11.8131 5.10001 10.5131C4.60001 9.71306 4.5 8.91306 4.5 8.01306C3 8.91306 2 10.5131 2 12.3131C2 15.1131 4.2 17.3131 7 17.3131C8.5 17.3131 9.79999 16.6131 10.8 15.6131C9.49999 15.1131 8.7 14.1131 8.5 12.9131ZM18.7 14.1131C17.9 12.8131 16.7 12.0131 15.3 11.7131C15.3 11.9131 15.4 12.1131 15.4 12.3131C15.4 13.4131 14.9 14.4131 14.1 15.0131C14.6 16.3131 14.5 17.8131 13.7 19.1131C13.2 19.9131 12.6 20.5131 11.9 20.9131C13.4 21.8131 15.3 21.9131 16.9 20.9131C19.3 19.6131 20.1 16.5131 18.7 14.1131Z" fill="black" />
												</svg>
											</span>
                                            <!--end::Svg Icon-->
                                            <a href="#" style="text-transform: uppercase;">Documents Qualité</a>
                                        </div>
                                    </div>
                                    <!--end::Folder path-->
                                    <!--begin::Folder Stats-->
                                    <div class="badge badge-lg badge-primary">
                                        <span id="kt_file_manager_items_counter">{{ qualitiesdoc|length }} documents</span>
                                    </div>
                                    <!--end::Folder Stats-->
                                </div>
                                <!--end::Table header-->
                                {% for doc in qualitiesdoc %}
                                    <!--begin::Table-->
                                    <table id="kt_file_manager_list" data-kt-filemanager-table="folders" class="table align-middle table-row-dashed fs-6 gy-5">
                                        <!--begin::Table head-->
                                        <thead>
                                        <!--begin::Table row-->
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">

                                            <th width="100%">Man{{ loop.index }}</th>

                                        </tr>
                                        <!--end::Table row-->
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody class="fw-bold text-gray-600">
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                            <!--begin::Name=-->
                                            <td width="95%">
                                                <div class="d-flex align-items-center">
                                                    <!--begin::Svg Icon | path: icons/duotune/files/fil003.svg-->
                                                    <span class="svg-icon svg-icon-2x svg-icon-primary me-4">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22Z" fill="black"></path>
                                                                    <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black"></path>
                                                                </svg>
                                                            </span>
                                                    <!--end::Svg Icon-->
                                                    <a href="{{ path('showDoc',{'id':doc.id})}}" class="text-gray-800 text-hover-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_show_doc">{{ doc.name }}</a>
                                                </div>
                                            </td>
                                            <!--end::Name=-->

                                            <!--begin::Actions-->
                                            <td width="5%" class="text-end" data-kt-filemanager-table="action_dropdown">
                                                <div class="d-flex justify-content-end">
                                                    <!--begin::Share link-->
                                                    <div class="ms-2" data-kt-filemanger-table="copy_link">
                                                        <a href="{{ asset('/upload/documents/' ~ doc.Filename) }}" download  type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                            <!--begin::Svg Icon | path: icons/duotune/general/gen052.svg-->
                                                            <span class="svg-icon svg-icon-5 m-0">
																	 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                                                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                                                                    </svg>
                                                        </span>
                                                            <!--end::Svg Icon-->

                                                        </a>
                                                    </div>
                                                    <!--end::Share link-->

                                                </div></td>
                                            <!--end::Actions-->
                                        </tr>

                                        </tbody>
                                        <tfoot class="fw-bold text-gray-600">
                                        <tr class="odd">

                                            <!--begin::Name=-->
                                            <td width="100%" data-order="account">
                                                <div class="d-flex align-items-center">
                                                    <!--begin::Svg Icon | path: icons/duotune/files/fil012.svg-->
                                                    <span class="svg-icon svg-icon-2x svg-icon-primary me-4">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path opacity="0.3" d="M10 4H21C21.6 4 22 4.4 22 5V7H10V4Z" fill="black"></path>
                                                                    <path d="M9.2 3H3C2.4 3 2 3.4 2 4V19C2 19.6 2.4 20 3 20H21C21.6 20 22 19.6 22 19V7C22 6.4 21.6 6 21 6H12L10.4 3.60001C10.2 3.20001 9.7 3 9.2 3Z" fill="black"></path>
                                                                </svg>
                                                            </span>
                                                    <!--end::Svg Icon-->
                                                    <a href="" class="text-gray-800 text-hover-primary">Documents associés</a>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr class="odd">

                                            <!--begin::Name=-->
                                            <td width="100%" data-order="account">
                                                <div class="d-flex align-items-center">
                                                    <!--begin::Svg Icon | path: icons/duotune/files/fil012.svg-->
                                                    <span class="svg-icon svg-icon-2x svg-icon-primary me-4">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path opacity="0.3" d="M10 4H21C21.6 4 22 4.4 22 5V7H10V4Z" fill="black"></path>
                                                                    <path d="M9.2 3H3C2.4 3 2 3.4 2 4V19C2 19.6 2.4 20 3 20H21C21.6 20 22 19.6 22 19V7C22 6.4 21.6 6 21 6H12L10.4 3.60001C10.2 3.20001 9.7 3 9.2 3Z" fill="black"></path>
                                                                </svg>
                                                            </span>
                                                    <!--end::Svg Icon-->
                                                    <a href="{{ path('ficheConnaissance',{'id':doc.id}) }}" class="text-gray-800 text-hover-primary">Dossier formations</a>
                                                </div>
                                            </td>

                                        </tr>


                                        </tfoot>
                                        <!--end::Table body-->
                                    </table>
                                    <div class="card">
                                        <div class="card-body">
                                            {% for version in doc.versionDocumentTransverses %}



                                                    <div class="d-flex align-items-center mb-7">
                                                        <!--begin::Svg Icon | path: icons/duotune/files/fil003.svg-->
                                                        <span class="svg-icon svg-icon-2x svg-icon-primary me-4">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22Z" fill="black"></path>
                                                                    <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black"></path>
                                                                </svg>
                                                            </span>
                                                        <!--end::Svg Icon-->
                                                        <a href="">{{ version.version }}</a>
                                                    </div>


                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!--end::Table-->
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kt_modal_show_doc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-900px" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {

            $("#kt_modal_show_doc").on("show.bs.modal", function (e) {

                var link = $(e.relatedTarget);
                console.log(link);
                var path = $(this).find(".modal-content").load(link.attr('href'));

                // console.log(path);
            });
        });
    </script>
{% endblock %}